<div class="markdown-body">
    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3560488247896226",
            enable_page_level_ads: true
          });
        </script> -->
        <!-- <script data-ad-client="ca-pub-3560488247896226" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-3560488247896226"
        data-ad-slot="6560515597"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    테스트
    <br/>
  {{ post.content }}
</div>
<br/>
<br/>
